<h1>Exam Details</h1>
<br>
<br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">List</th>
        <th scope="col">Exam Title</th>
        <th scope="col">Exam Link</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>HTML/CSS</td>
        <td><a routerLink='/student/exam/welcome1'>Exam Link</a></td>
        
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Javascript</td>
        <td><a routerLink='/student/exam/welcome2'>Exam Link</a></td>
        
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Angular</td>
        <td><a routerLink='/student/exam/welcome'>Exam Link</a></td>
      </tr>
    </tbody>
  </table>