form{
    margin-left:2rem;
    margin-right:2rem;
    padding-bottom:2rem;
    padding-top:2rem;
   
    
}
.backg{
    background-image: url('../../../../../assets/images/afif-kusuma-D1z3dwROc44-unsplash.jpg');
    background-size: cover;
    height: 1200px;
    opacity: 90%;
}