<div class="backg">
    <a routerLink="student/stufeedbacks" style="color:black ; text-decoration: none; ">Go Back</a>


    <form name="quiz" id="quiz">
        <h2>Feedback-2</h2>
        <div>
            <p>1.How would you evaluate the overall academic experience?</p>
            <p><input type="radio" name="question1" value="Very Dissatisfied" id="" class="q1">A. Very Dissatisfied</p>
            <p><input type="radio" name="question1" value="Not Satisfied" id="" class="q1">B. Not Satisfied</p>
            <p><input type="radio" name="question1" value="Satisfied" id="" class="q1">C.Satisfied</p>
            <p><input type="radio" name="question1" value="Very Satisfied" id="" class="q1">D.Very Satisfied</p>
        </div>
        <div>
            <p>2.How satisfied are you with the learning materials?</p>
            <p><input type="radio" name="question2" value="Very Dissatisfied" id="" class="q2">A.Very Dissatisfied</p>
            <p><input type="radio" name="question2" value="Not
                Satisfied" id="" class="q2">B. Not
                Satisfied
            </p>
            <p><input type="radio" name="question2" value="Satisfied" id="" class="q2">C.
                Satisfied</p>
            <p><input type="radio" name="question2" value="Very Satisfied" id="" class="q2">D.Very Satisfied</p>
        </div>
        <div>
            <p>3.Do you have supportive classmates?</p>
            <p><input type="radio" name="question3" value="Yes, extremely supportive" id="" class="q3">A. Yes, extremely
                supportive</p>
            <p><input type="radio" name="question3" value="They are neither supportive nor unsupportive" id=""
                    class="q3">B.
                They are neither supportive nor
                unsupportive</p>
            <p><input type="radio" name="question3" value="No, extremely unsupportive" id="" class="q3">C. No, extremely
                unsupportive</p>

        </div>
        <div>
            <p>4.The lectures and test complemented eachother?</p>
            <p><input type="radio" name="question4" value="Strongly Agree" id="" class="q4">A.
                Strongly Agree</p>
            <p><input type="radio" name="question4" value="Agree" id="" class="q4">B.
                Agree
            </p>
            <p><input type="radio" name="question4" value="Strongly Disagree" id="" class="q4">C.
                Strongly Disagree</p>
            <p><input type="radio" name="question4" value="Disagree" id="" class="q4">D.Disagree</p>
        </div>
        <div>
            <p>5.The Course was organized in a manner that helped me understand the underlying concepts?

            <p><input type="radio" name="question5" value="Strongly Agree" id="" class="q5">A.Strongly Agree</p>
            <p><input type="radio" name="question5" value="Disagree" id="" class="q5">B. Disagree</p>
            <p><input type="radio" name="question5" value="Agree" id="" class="q5">C. Agree</p>
            <p><input type="radio" name="question5" value="Strongly Disagree" id="" class="q5">C. Strongly Disagree</p>

        </div>
        <input type="button" value="Submit" onclick="check()">
    </form>
</div>