<h1 class="headtag">ANGULAR</h1>
<div>
    <br>
</div>
<div class="flex-container"></div>
<div class="main-container">
<div class="videodiv1">
    <h4>Introduction</h4>
<iframe width="200" height="200" src="https://www.youtube.com/embed/5xg4Jvqy_UI"
 title="YouTube video player" frameborder="0"
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
allowfullscreen></iframe><br><button (click)="onBackButtonClick()" >Send</button>

</div> 


<div class="videodiv2">
    <h4>Angular Component</h4>
<iframe width="200" height="200" src="https://www.youtube.com/embed/qkk9giUxIHs"
 title="YouTube video player" frameborder="0"
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
allowfullscreen></iframe><br><button (click)="onBackButtonClick()">Send</button>
</div> 

<div class="videodiv3">
    <h4>Angular Forms</h4>
<iframe width="200" height="200" src="https://www.youtube.com/embed/-bGgjgx3fGs"
 title="YouTube video player" frameborder="0"
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
allowfullscreen></iframe><br><button (click)="onBackButtonClick()">Send</button>
</div> 

<div class="videodiv4">
    <h4>Angular Binding</h4>
<iframe width="200" height="200" src="https://www.youtube.com/embed/_s_qqS-ssbE"
 title="YouTube video player" frameborder="0"
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
allowfullscreen></iframe><br><button (click)="onBackButtonClick()">Send</button>


</div> 

<div class="videodiv5">
    <h4>Angular Services</h4><iframe width="200" height="200" src="https://www.youtube.com/embed/0v1mQB4BCIo"
 title="YouTube video player" frameborder="0"
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
allowfullscreen></iframe><br><button (click)="onBackButtonClick()">Send</button>
</div> 
</div>
