
 <br>
 <br>
 <br>
 <h1 class="headtag">EXAM EVALUATION</h1>
 <table class="table">
    <thead>
      <tr class="rowtag">
        <!-- <th scope="col">Name</th>
        <th scope="col">Course</th> -->
        
        <th scope="col">Total Question Attempted</th>
        <th scope="col">Total Correct Answered</th>
        <th scope="col">Total Wrong Answered</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <!-- <th scope="row">{{name}}</th>
          <th>{{course}}</th> -->
         <th>{{questionList.length}}</th>
          <td>{{correctAnswer}}</td>
          <td>{{incorrectAnswer}}</td>
          <td>{{points}}</td>
        </tr>
        
      </tbody>
    </table>