.headtag{
color: darkgoldenrod;
text-align: center;
font-family:fantasy;
font-size: xx-large;
}
.rowtag{
font-size:large;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: brown;
}