
<h1 class="headtag">HTML/CSS</h1>
<div>
    <br>
</div>
<div class="flex-container">
    <div class="main-container">
    <div class="videodiv">
    <h4>Introduction</h4>
    <iframe width="100" height="100" src="https://www.youtube.com/embed/PlbupGCBV6w"
     title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe><br><button (click)="onBackButtonClick()">Send</button>
    </div> 


    <div class="videodiv">
    <h4>CSS STYLE</h4>
    <iframe width="100" height="100" src="https://www.youtube.com/embed/azZCW24XtT4"
 title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe><br><button (click)="onBackButtonClick()">Send</button>
    </div> 

    <div class="videodiv">
    <h4>BOOTSTRAP INTRODUCTION</h4>
    <iframe width="100" height="100" src="https://www.youtube.com/embed/hY0YXWa2Lr0"
 title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe><br><button (click)="onBackButtonClick()">Send</button>
    </div> 

        <div class="videodiv">
    <h4>Bootstrap CSS Framework</h4>
    <iframe width="100" height="100" src="https://www.youtube.com/embed/-qfEOE4vtxE"
 title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe><br><button (click)="onBackButtonClick()">Send</button>
    </div> 

    <div class="videodiv">
    <h4>Bootstrap Responsive Design</h4>
    <iframe width="100" height="100" src="https://www.youtube.com/embed/no-Ntkc836w"
 title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe><br><button (click)="onBackButtonClick()">Send</button>
    </div> 
    </div>
</div>