<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand">LMS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/admfsd" *ngIf="authService.getTokenAdmin()">Admin Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/admfsd" *ngIf="authService.getTokenAdmin()">Trainers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/stuhome" *ngIf="authService.getTokenAdmin()">Students</a>
          </li>
          <li class="nav-item dropdown" *ngIf="authService.getTokenAdmin()">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Allow Acess
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/stuaccess" >Students</a></li>
              <li><a class="dropdown-item" routerLink="/traaccess">Trainers</a></li>
            </ul>
          </li>
          
         </ul>
        <form class="d-flex" role="search">
          <button class="btn btn-outline-primary" routerLink="/tralogin" type="submit" *ngIf="!authService.getTokenAdmin()">Login</button>
          <button class="btn btn-outline-danger"  type="submit" (click)="logoutAdmin()" *ngIf="authService.getTokenAdmin()">Signout</button>
        </form>
      </div>
    </div>
  </nav>
 


