<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">ADMIN</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown" *ngIf="authService.getTokenAdmin()">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              ALLOW ACCESS
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/stuaccess" *ngIf="authService.getTokenAdmin()">STUDENTS</a></li>
              <li><a class="dropdown-item" routerLink="/traaccess" *ngIf="authService.getTokenAdmin()">TRAINERS</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/trahome" *ngIf="authService.getTokenAdmin()">TRAINERS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/stuhome" *ngIf="authService.getTokenAdmin()">STUDENTS</a>
          </li>
         </ul>
        <form class="d-flex" role="search">
          <button class="btn btn-outline-success" routerLink="/adlogin" type="submit" *ngIf="!authService.getTokenAdmin()">login</button>
          <button class="btn btn-outline-success"  type="submit" (click)="logoutAdmin()" *ngIf="authService.getTokenAdmin()">logout</button>
        </form>
      </div>
    </div>
  </nav>
 


