<div class="backg">
    <a routerLink="/student/stuexams" style="color: white; text-decoration: none;">Go Back</a>
    
     <form name="quiz" id="quiz">

        <h2 style="color:white;">Exam-1</h2>
        <div>
            <p>1.Javascript is an ______ language?</p>
            <p><input type="radio" name="question1" value="Object-Oriented" id="" class="q1">A. Object-Oriented</p>
            <p><input type="radio" name="question1" value="Object-Based" id="" class="q1">B. Object-Based</p>
            <p><input type="radio" name="question1" value="Procedural" id="" class="q1">C. Procedural</p>
            <p><input type="radio" name="question1" value="None of the above" id="" class="q1">D. None of the above</p>
        </div>
        <div>
            <p>2.Which of the following keywords is used to define a variable in Javascript?</p>
            <p><input type="radio" name="question2" value="var" id="" class="q2">A. var</p>
            <p><input type="radio" name="question2" value="let" id="" class="q2">B. let</p>
            <p><input type="radio" name="question2" value="Both A and B" id="" class="q2">C. Both A and B</p>
            <p><input type="radio" name="question2" value="None of the above" id="" class="q2">D. None of the above</p>
        </div>
        <div>
            <p>3.What does the abbreviation HTML stand for?</p>
            <p><input type="radio" name="question3" value="HyperText Markup Language" id="" class="q3">A. HyperText
                Markup Language</p>
            <p><input type="radio" name="question3" value="HighText Markup Language" id="" class="q3">B. HighText Markup
                Language</p>
            <p><input type="radio" name="question3" value="HyperText Markdown Language" id="" class="q3">C. HyperText
                Markdown Language</p>
            <p><input type="radio" name="question3" value="None of the above" id="" class="q3">D. None of the above</p>
        </div>
        <div>
            <p>4.How many sizes of headers are available in HTML by default?</p>
            <p><input type="radio" name="question4" value="5" id="" class="q4">A. 5</p>
            <p><input type="radio" name="question4" value="4" id="" class="q4">B. 4</p>
            <p><input type="radio" name="question4" value="1" id="" class="q4">C. 1</p>
            <p><input type="radio" name="question4" value="6" id="" class="q4">D. 6</p>
        </div>
        <div>
            <p>5.The Node.js modules can be exposed using:</p>
            <p><input type="radio" name="question5" value="expose" id="" class="q5">A. expose</p>
            <p><input type="radio" name="question5" value="module" id="" class="q5">B. module</p>
            <p><input type="radio" name="question5" value="exports" id="" class="q5">C. exports</p>
            <p><input type="radio" name="question5" value="All of the above" id="" class="q5">D. All of the above</p>
        </div>
        <input type="button" value="Submit" onclick="check()">
    </form> 
</div>
