<app-adm-nav></app-adm-nav>
<div class="back">
    <img class="img-fluid img" [src]="image">
   <!-- student -->
<div class="card" style="width: 28rem;">
    <div class="card-body">
      <h5 class="card-title">number of csd students</h5>
      <h6 class="card-subtitle mb-2 text-muted"></h6>
      <img class="img-fluid img1" [src]="image1">
    </div>
  </div>
  <!-- trainer -->
  <div class="card ca1" style="width: 28rem;">
    <div class="card-body">
      <h5 class="card-title">number of trainers</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <img class="img-fluid img2" [src]="image2">
    </div>
  </div>
  </div>