.head-tag{
    text-align: center;
    color: coral;
    font-family: cursive;
    
   }
   .row-class{
       color:firebrick;
       font-family: fantasy;
   }
   .row2-tag{
       font-size: xx-large;
       font-family: 'Times New Roman', Times, serif;
   
   }