<div class="backg">
    <form name="quiz" id="quiz">
        <div>
            <p>1.What is the best programming language to learn in 2020?</p>
            <p><input type="radio" name="question1" value="HTML" id="" class="q1">A. HTML</p>
            <p><input type="radio" name="question1" value="Python" id="" class="q1">B. Python</p>
            <p><input type="radio" name="question1" value="Javascript" id="" class="q1">C. Javscript</p>
            <p><input type="radio" name="question1" value="Swift" id="" class="q1">D. Swift</p>
        </div>
        <div>
            <p>2.What is the biggest country in the world?</p>
            <p><input type="radio" name="question2" value="Russia" id="" class="q2">A. Russia</p>
            <p><input type="radio" name="question2" value="America" id="" class="q2">B. America</p>
            <p><input type="radio" name="question2" value="China" id="" class="q2">C. China</p>
            <p><input type="radio" name="question2" value="Canada" id="" class="q2">D. Canada</p>
        </div>
        <div>
            <p>3.What is the capital of China?</p>
            <p><input type="radio" name="question3" value="Guanzhou" id="" class="q3">A. Guanzhou</p>
            <p><input type="radio" name="question3" value="Nanjing" id="" class="q3">B. Nanjing</p>
            <p><input type="radio" name="question3" value="Shanghai" id="" class="q3">C. Shanghai</p>
            <p><input type="radio" name="question3" value="Beijing" id="" class="q3">D. Beijing</p>
        </div>
        <div>
            <p>4.What is the biggest problem in the world now?</p>
            <p><input type="radio" name="question4" value="Financial" id="" class="q4">A. Financial</p>
            <p><input type="radio" name="question4" value="Coronavirus" id="" class="q4">B. Coronavirus</p>
            <p><input type="radio" name="question4" value="Economical" id="" class="q4">C. Economical</p>
            <p><input type="radio" name="question4" value="None" id="" class="q4">D. None</p>
        </div>
        <div>
            <p>5.How many seasons are there in a year?</p>
            <p><input type="radio" name="question5" value="1" id="" class="q5">A. 1</p>
            <p><input type="radio" name="question5" value="2" id="" class="q5">B. 2</p>
            <p><input type="radio" name="question5" value="3" id="" class="q5">C. 3</p>
            <p><input type="radio" name="question5" value="4" id="" class="q5">D. 4</p>
        </div>
        <input type="button" value="Submit" onclick="check()">
    </form>
</div>