.learnhead{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: brown;
}
.rtag{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration:underline;
}