<h1 class="learnhead">LEARNING MATERIAL</h1>
<br>
<br>
<div class="alert alert-danger" role="alert">
  <a class="card__link" routerLink="/trainer/materiallist"><h2>Material List</h2><i class="fas fa-arrow-right"></i></a>
 </div>
<!-- <div class="alert alert-danger" role="alert">
    <a class="card__link" routerLink="/trainer/htmlcssvideos"><h2>HTML/CSS</h2><i class="fas fa-arrow-right"></i></a>
   </div>
 <div class="alert alert-warning" role="alert">
   <a class="card__link" routerLink="/trainer/jsvideos"><h2>Javascript</h2><i class="fas fa-arrow-right"></i></a>
  </div>
  <div class="alert alert-success" role="alert">
   <a class="card__link" routerLink="/trainer/angvideo"><h2>Angular</h2><i class="fas fa-arrow-right"></i></a>
  </div>
  <div class="alert alert-primary " role="alert">
    <a class="card__link" routerLink="/trainer/angvideo"><h2>Angular</h2><i class="fas fa-arrow-right"></i></a>
   </div>
 

   -->
