
<div class="p-3 mb-2 bg-warning text-white"><h1 class="headtag">TRAINER</h1></div>
<div class="card card-2 mt-5 ">
    <div class="card__icon"><i class="fas fa-bolt"></i></div>
    <p class="card__exit"><i class="fas fa-times"></i></p>
    <!-- <h2 class="card__title">Exams</h2> -->
    <p class="card__apply">
      <a class="card__link" routerLink="/trainer/fsdcourse"><h2 class="headtag">Full Stack Development(MEAN)</h2> <i class="fas fa-arrow-right"></i></a>
    </p>
  </div>
  <div class="card card-2 mt-5 ">
    <div class="card__icon"><i class="fas fa-bolt"></i></div>
    <p class="card__exit"><i class="fas fa-times"></i></p>
    <!-- <h2 class="card__title">Exams</h2> -->
    <p class="card__apply">
      <a class="card__link" routerLink="/trainer/fsdcourse"><h2 class="headtag">Certified Specialist in Data Science & Analytics</h2> <i class="fas fa-arrow-right"></i></a>
    </p>
  </div>
  <div class="card card-2 mt-5 ">
    <div class="card__icon"><i class="fas fa-bolt"></i></div>
    <p class="card__exit"><i class="fas fa-times"></i></p>
    <!-- <h2 class="card__title">Exams</h2> -->
    <p class="card__apply">
      <a class="card__link" routerLink="/trainer/fsdcourse"><h2 class="headtag">Certified Specialist in Cyber Security Analyst</h2> <i class="fas fa-arrow-right"></i></a>
    </p>
  </div>
  <div class="card card-2 mt-5 ">
    <div class="card__icon"><i class="fas fa-bolt"></i></div>
    <p class="card__exit"><i class="fas fa-times"></i></p>
    <!-- <h2 class="card__title">Exams</h2> -->
    <p class="card__apply">
      <a class="card__link float:right" routerLink="/trainer/fsdcourse"><h2 class="headtag">Certified Specialist in Software Testing</h2> <i class="fas fa-arrow-right"></i></a>
    </p>
  </div>



