.img{
    position: relative;
     width: 100%; 
      min-height:100vh;
      height: 600px;
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
}

h1{
    position: absolute;
    top: 30px;
    left: 35%;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkblue;
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
    
}
form{
   position: absolute;
   top: 15%;
    width: 75%;
    height: 60%;
    margin-left:15%;
   
}
.table{
    
    border: 1px solid brown;
padding: 40px;
padding-bottom: 20px;
background-color: lavender;
box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
small{
    padding-left: 10px;
}