h1{
    margin-top: 4%;
    text-align: center;
    color: blue;
}

form{
    margin-left: 32%;
    margin-right: 20%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 35%;
    height: 60%;
    padding:50px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    background-color: white;
    letter-spacing: 0.5px;
    background-color:lavender;
}
a{
    font-size: large;
    text-decoration: none;
    display: flex;
    justify-content: center;
   }